version: '3'
services:
    mongo:
      image: "mongo:3-stretch"
      container_name: mongodb
      environment:
        - MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}
        - MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASS}
      ports:
        - "27017:27017"
    # mongo-express:
    #   image: "mongo-express:latest"
    #   container_name: mongo-express
    #   ports:
    #     - "8081:8081"
